{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>IdeaNest</title>
   <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/app.js' %}"></script>

</head>
<body>
    <canvas id="particle-canvas"></canvas>
    {% include 'navbar.html' %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
    <!-- <script src="{% static 'js/app.js' %}"></script> -->
</body>

</html>
