{% load static %}
<nav class="navbar">
    <div class="logo">
        <!-- <img src="{% static 'image/logo.png' %}" alt="IdeaNest Logo"> -->
        <span class="brand">IDEA_Nest</span>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/login/">Login</a></li>
        <li><a href="/ideas/">Ideas</a></li>
        <li><a href="/dashboard/">Dashboard</a></li>
        <li><a href="/reports/">Reports</a></li>
        <li><a href="/chatbot/">Chatbot</a></li>
        <!-- <li><a href="/notifications/">Notifications</a></li> -->
       
    </ul>
</nav>
